pinpunch-qt/build/
pinpunch-qt/build-*/
pinpunch-qt/uitest/
pinpunch-qt/.vs/
pinpunch-qt/cmake-build-*/
build/
build-*/
out/
.vs/
.vscode/
.idea/
*.user
tmpqt/
.git/
.gitignore
images/
docs/
.github/
*.md
package.json
package-lock.json
funding.json
updates.json
pinpunch_icon.ico
setup.sh
Dockerfile
.dockerignore
